<ion-header>
  <ion-navbar>
    <ion-title><img class="tapper" src="img/tapper.png"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="content">

<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
<br>

<ion-grid id="buttons">
  <ion-row>
    <ion-col>
      <button ion-button outline full (click)="initializeItems()">Alle</button>
    </ion-col>
    <ion-col>
      <button ion-button outline full (click)="showFriends()">Venner</button>
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-item *ngIf="attending">
  <p>Hvem kommer</p>
    <button ion-button item-right [color]="attending ? 'secondary' : 'danger'" (click)="setColor()">Kom i dag</button>
  </ion-item>

  <ion-item *ngIf="!attending">
  <p>Hvem kommer</p>
    <button ion-button item-right [color]="attending ? 'secondary' : 'danger'" (click)="setColor()">Afmeld</button>
  </ion-item>

  <ion-item *ngFor="let item of items">
    <ion-thumbnail  item-left>
        <img src="{{item[1]}}.jpg">
    </ion-thumbnail>
    {{item[0]}}
  </ion-item>
</ion-list>
</ion-content>
