<ion-header>
  <ion-navbar>
    <ion-title>I dag</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="content">



<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
<br>
  <ion-item *ngIf="attending">
  <p>Hvem kommer</p>
    <button ion-button item-right [color]="attending ? 'secondary' : 'danger'" (click)="setColor()">Kom i dag</button>
  </ion-item>

  <ion-item *ngIf="!attending">
  <p>Hvem kommer</p>
    <button ion-button item-right [color]="attending ? 'secondary' : 'danger'" (click)="setColor()">Afmeld</button>
  </ion-item>

  <ion-item *ngFor="let item of items">
    <ion-thumbnail  item-left>
        <img src="{{item[1]}}.jpg">
    </ion-thumbnail>
    {{item[0]}}
  </ion-item>
</ion-list>
</ion-content>
